{
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "jsx-quotes": ["error", "prefer-single"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"]
    }
}
